<footer>
  <div class="inner-foot">
    <ul class="span4">
      <li><h4>Tour</h4></li>
      <li><%= link_to 'Advanced Project Management' %></li>
      <li><%= link_to 'Financial Management' %></li>
      <li><%= link_to 'Timeline Management' %></li>
      <li><%= link_to 'Resource Management' %></li>
      <li><%= link_to 'Analytics and Reporting' %></li>
      <li><%= link_to 'Google Apps' %></li>
    </ul>

    <ul class="span4">
      <li><h4>Company</h4></li>
      <li><%= link_to 'About Us' %></li>
      <li><%= link_to 'Careers' %></li>
      <li><%= link_to 'Blog' %></li>
      <li><%= link_to 'Support' %></li>
      <li><%= link_to 'Tutorials' %></li>
      <li><%= link_to 'Developers' %></li>
      <li><%= link_to 'Legal' %></li>
    </ul>

    <ul class="spacer"></ul>

    <ul class="last-right">
      <li><h4>Have Questions?</h4></li>
      <li><i id="phone"></i></li>
      <li><span>(888) 281-5902<span></li>
    </ul>
  </div>
</footer>