<footer>
  <div class="inner-foot">
  <ul class="span4">
    <li><h4>Tour</h4></li>
    <li><%= link_to 'Advanced Project Management' %></li>
    <li><%= link_to 'Financial Management' %></li>
    <li><%= link_to 'Timeline Management' %></li>
    <li><%= link_to 'Resource Management' %></li>
    <li><%= link_to 'Analytics and Reporting' %></li>
    <li><%= link_to 'Google Apps' %></li>
  </ul>

  <ul class="span4">
    <li><h4>Company</h4></li>
    <li><%= link_to 'About Us' %></li>
    <li><%= link_to 'Careers' %></li>
    <li><%= link_to 'Blog' %></li>
    <li><%= link_to 'Support' %></li>
    <li><%= link_to 'Tutorials' %></li>
    <li><%= link_to 'Developers' %></li>
    <li><%= link_to 'Legal' %></li>
  </ul>

  <ul class="spacer"></ul>

  <ul class="last">
    <li><h4>Have Questions?</h4></li>
    <li>(888) 281-5902</li>
    <li>
      <ul>
        <li><img src="http://placehold.it/20x20"></li>
        <li><img src="http://placehold.it/20x20"></li>
        <li><img src="http://placehold.it/20x20"></li>
        <li><img src="http://placehold.it/20x20"></li>
      </ul>
    </li>
  </ul>
</div>
</footer>