<nav>

  <div class='inner-nav lrg-nav'>
   <img src='/assets/mavenlink_logo.png'>
   <ul>
    <li><%= link_to 'Tour' %></li>
    <li><%= link_to 'Pricing' %></li>
    <li><%= link_to 'Demo' %></li>
    <li style="margin-right: 20px;"><a href=''><div class='btn-small btn-white'>Log In</div></a></li>
    <li><a href=''><div class='btn-small btn-green'>Sign Up</div></a></li>
  </ul>

</div>
<div class="outer-nav"></div>

<a href=""><img id="nav-icon" src="http://placehold.it/50x50"></a>

<div class='inner-nav sm-nav'>
  <img src='/assets/mavenlink_logo.png'>
  <ul>
    <li><%= link_to 'Tour' %></li>
    <li><%= link_to 'Pricing' %></li>
    <li><%= link_to 'Demo' %></li>
    <li><a href=''><div class='btn-small btn-white nav-last'>Log In</div></a></li>
    <li><a href=''><div class='btn-small btn-green nav-last'>Sign Up</div></a></li>
  </ul>
</div>

</nav>
