<nav>
  <a href=""><img id="nav-icon" style="display: none; padding:10px;" src="http://placehold.it/40x40"></a>

  <div class='inner-nav lrg-nav'>
   <img src='/assets/mavenlink_logo.png'>
   <ul>
    <li><%= link_to 'Tour' %></li>
    <li><%= link_to 'Pricing' %></li>
    <li><%= link_to 'Demo' %></li>
    <li><a href='https://www.jellybelly.com'><button class='btn-small btn-green'>Log In</button></a></li>
    <li><a href=''><button class='btn-small btn-green last'>Sign Up</button></a></li>
  </ul>
  </div>

  <div style="background-color: green;position: absolute; z-index: 1;width:400px;height: 215px;" class='inner-nav sm-nav'>
    <ul style="margin: 0;padding: 0;">
    <li style="display: block; width: 100%;padding: 10px 0px;border-bottom:1px solid #CCCCCC;"><%= link_to 'Tour' %></li>
    <li style="display: block; width: 100%;padding: 10px 0px;border-bottom:1px solid #CCCCCC;"><%= link_to 'Pricing' %></li>
    <li style="display: block; width: 100%;padding: 10px 0px;border-bottom:1px solid #CCCCCC;"><%= link_to 'Demo' %></li>
    <li style="display: block; width: 100%;padding: 10px 0px 10px 0px;border-bottom:1px solid #CCCCCC;"><a href='https://www.jellybelly.com'><button class='btn-small btn-green'>Log In</button></a></li>
    <li class="display:block;width: 100%;padding: 10px 0px;border-bottom:1px solid #CCCCCC;"><a href=''><button class='btn-small btn-green last'>Sign Up</button></a></li>
  </ul>

  </div>

</nav>
